/*
Global
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.wrap {
  width: 70vw;
  margin: auto;
}

h3 {
  color: #101d56;
  font-weight: 700;
  text-align: center;
  font-size: 1.6rem;
  padding: 20px;
}

p {
  text-align: justify;
}

.block-link {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  border: #ffffff solid 2px;
  border-radius: 2px;
  padding: 5px 20px; margin: 10px;
  font-weight: 700;
}

.block-link svg {
  height: 1.3rem;
}


/*
Header
*/

.header-top {
  background: #101d56;
  z-index: 1;
  height: 60vh;
  position: relative;
}

.header-gradient-fill-1 {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: radial-gradient(at bottom left, rgba(233,80,146,0.7) 0%, rgba(255,255,255,0) 50%, rgba(255,206,0,0.2) 100%);
  position: absolute;
}

.header-gradient-fill-2 {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: radial-gradient(at top left, rgba(37,64,146,0.2) 0%, rgba(255,255,255,0) 50%, rgba(128,186,51,0.1) 100%);
  position: absolute;
}

.header-top .wrap-narrow {
  z-index: 3;
  position: absolute;
  width: 80vw;
  margin: 0 10vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-links {
  margin: 20px;
}

.header-top img {
  margin: 20px;
  max-width: 80%;
}

.header-bottom {
  height: 40vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-bottom .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-highlight {
  padding: 20px;
  width: calc(100% / 3);
}


/*
Main
*/

.main {
  background: #f9deec;
  z-index: 1;
  position: relative;
}

.main-highlight {
  padding: 60px;
}

.main-gradient-fill-1 {
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.3;
  background: radial-gradient(at bottom left, rgba(233,80,146,0.7) 0%, rgba(255,255,255,0) 50%, rgba(255,206,0,0.5) 100%);
  position: absolute;
}

.main-gradient-fill-2 {
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.5;
  background: radial-gradient(at top left, rgba(65,108,216,0.6) 0%, rgba(255,255,255,0) 50%, rgba(128,186,51,0.3) 100%);
  position: absolute;
}

.main .wrap {
  z-index: 3;
  position: relative;
  padding: 60px 0;
}

.main-highlight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-text {
  width: calc(100% / 3);
}

.main-img {
  width: calc(2 * 100% / 3);
  filter: drop-shadow(0px 0px 30px rgba(0,0,0,0.4));
}

.main-img video {
  width: 100%;
}

.main-highlight-left .main-img {
  margin-left: 60px;
}

.main-highlight-right .main-img {
  margin-right: 60px;
}

.main-highlight-right .main-text {
  order: 2;
}


/*
Footer
*/

footer {
  background: #494949;
  padding: 60px 0;
}

footer .wrap-narrow {
  width: 73vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 70%;
}

.footer-links {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-contributors {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.footer-contributors a {
  color: #ffffff;
  text-decoration: none;
}

.footer-contributors p {
  margin: 10px;
}

.footer-contributors p {
  font-weight: 700;
}

.footer-contributors-accent {
  font-weight: 700;
  color: #e34f96;
}


/*
Responsive
*/

@media (max-width: 1200px) {

  /*
  Global
  */

  .wrap {
    width: 90vw;
  }


  /*
  Header
  */

  .header-top {
    height: 100vh;
  }

  .header-bottom {
    height: auto;
  }

  /*
  Footer
  */

  footer .wrap-narrow {
    width: 90vw;
  }

}

@media (max-width: 1000px) {
  /*
  Header
  */

  .header-bottom .wrap {
    display: block;
  }

  .header-highlight {
    width: 100%;
    padding: 0 0 20px 0;
  }


  /*
  Main
  */

  .main-highlight {
    display: block;
    padding: 0px;
  }

  .main-text {
    width: 100%;
  }

  .main-img {
    width: 100%;
    padding: 20px 0;
  }

  .main-highlight-left .main-img {
    margin-left: 0;
  }


  /*
  Footer
  */

  footer .wrap-narrow {
    display: block;
  }

  .footer-logo {
    width: 60vw;
    margin: 0 auto 20px auto;
  }

  .footer-links, .footer-contributors {
    width: 100%;
  }
}