* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}

#logo {
	width: 50%;
	margin: 50px auto;
	display: block;
	position: relative;
}

a {
	display: inline-block;
}

a[href] {
	color: #E44D95;
	margin-top: 10px;
}

#centre {
	text-align: center;
	font-size: 14pt;
}

@media only screen and (max-width: 900px) {
  #logo {
    width: 75%;
  }
}
